.but{
  display: inline-flex;
  list-style: none;
}

//button {
//  background-color:  #03964d;
//
//}
footer{
  margin-bottom: 0;
  height: 100px;
}
.body{
  //background-image: url("~assets/img/body1.jpg");
}
body, html {
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.my-container{
  width: 100vw;
  height: 100vh;
}

