<nav class="navbar" role="navigation">
<ul>
  <li class="nav-item btn " routerLinkActive="active-route" routerLink="home">
      <a><i class="fa fa-home" style="color: aliceblue"></i></a>
  </li>
  <li class="nav-item dropdown btn  " routerLinkActive="active-route">
    <a class=" dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Історія</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="history" routerLinkActive="active">Історія країни</a>
      <a class="dropdown-item" routerLink="uniqueFacts" routerLinkActive="active">Цікаві і унікальні факти</a>
      <a class="dropdown-item" routerLink="seaDiscovers" routerLinkActive="active">Морські відкриття</a>
    </div>

  </li>
  <li class="nav-item dropdown btn " routerLinkActive="active-route">
    <a class=" dropdown-toggle"  aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">географія </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="climate" routerLinkActive="active">Клімат</a>
      <a class="dropdown-item" routerLink="uniquePlacement" routerLinkActive="active">Унікальність
        розміщення</a>
      <a class="dropdown-item" routerLink="ocean" routerLinkActive="active">Океан</a>
      <a class="dropdown-item" routerLink="islands" routerLinkActive="active">Острови- Азори та
        Мадейра</a>
    </div>
  </li>
  <li class="nav-item dropdown btn "  routerLinkActive="active-route">
    <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"  data-toggle="dropdown">гастрономія</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="gastronomyTradition" routerLinkActive="active">Традиції
        гастрономії</a>
      <a class="dropdown-item" routerLink="seaFoods" routerLinkActive="active">Багатство гастрономії</a>

      <a class="dropdown-item" routerLink="sweetMasterpiece" routerLinkActive="active">Солодкі шедеври</a>
    </div>
  </li>
  <li class="nav-item dropdown btn" routerLinkActive="active-route" aria-expanded="false" >
  <a class=" dropdown-toggle"  aria-haspopup="true" aria-expanded="false"  data-toggle="dropdown">сьогодення</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="news" routerLinkActive="active">Новини</a>
      <a class="dropdown-item" routerLink="people" routerLinkActive="active">Португальці</a>

      <a class="dropdown-item" routerLink="prices" routerLinkActive="active">Ціни</a>
    </div>

  </li>
  <li class="nav-item dropdown btn "  routerLinkActive="active-route">
    <a class=" dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" >туризм</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="howToGo" routerLinkActive="active">Як поїхати</a>
      <a class="dropdown-item" routerLink="whenToGo" routerLinkActive="active">Коли їхати</a>
      <a class="dropdown-item" routerLink="whenToStay" routerLinkActive="active">Де зупинитись</a>
        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Що відвідати
        <div class="dropdown-menu" aria-labelledby="dropdown2-1">
          <a class="dropdown-item" routerLink="beach" routerLinkActive="active">Пляж</a>
          <a class="dropdown-item" routerLink="castlesPalaces" routerLinkActive="active">Замки і палаци</a>
          <a class="dropdown-item" routerLink="museums" routerLinkActive="active">Музеї</a>
          <a class="dropdown-item" routerLink="arqueology" routerLinkActive="active">Археологічна спадщина</a>
          <a class="dropdown-item" routerLink="underground" routerLinkActive="active">Підземні скарби Португалії</a>
        </div>
      </a>
    </div>
  </li>
  <li class="nav-item btn " routerLinkActive="active-route" routerLink="shopModule">
  <a>паштелки</a>
      </li>
  <li class="nav-item btn" routerLinkActive="active-route" routerLink="login">
    <a aria-haspopup="dialog" >
        LogIn
      </a>
  </li>
</ul>
</nav>
