img {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.blue {
  position: absolute;
  top: 35%;
  padding-left: 3%;
  width: 100%;
  color: #0003e0;
  font-size: 3em;
  text-shadow: dodgerblue 0 -4px;
}

.yellow {
  position: absolute;
  top: 45%;
  padding-left: 5%;
  width: 100%;
  color: yellow;
  font-size: 3em;

}
